* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    height: auto;
    overflow-x: hidden;
}

.navbar {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 20px;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(0, 0, 0, 0.3);
}

.icon1 {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: MedievalSharp;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}   

@font-face {
    font-family: MedievalSharp;
    src: url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sometype+Mono&display=swap");
}

h1 {
    font-family: MedievalSharp;
    src: url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sometype+Mono&display=swap");
}

.navbar a:hover {
    font-weight: bolder;
}

.navbar .selectedb {
    font-weight: 900;
}

.nav a {
    font-family: MedievalSharp;
    src: url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sometype+Mono&display=swap");
}

.creditsbg {
    background-image: url("images/157908.jpg");
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
     width: 100vw;
     height: auto;
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 3vw;
     padding-left: 6vw;
     padding-right: 6vw;
     flex-direction: column;
}

.info h1 {
    color: white;
    font-size: 4vw;
    margin-bottom: 30px;
}

.info h2 {
    color: lightgray;
    font-size: 2vw;
    text-align: center;
}

.music {
    background-image: url("images/OIP.jpg");
    width: 100vw;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.musicdivider {
    width: 100vw;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: MedievalSharp;
    src: url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sometype+Mono&display=swap");
    display: flex;
    justify-content: center;
    padding: 3vw;
    flex-direction: column;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.musicdivider h1 {
    color: white;
    font-size: 4vw;
}

.video {
    border-radius: 50px;
 }

 .video2 {
    border-radius: 50px;
 }

 .vidos {
    display: flex;
    width: 100vw;
    flex-direction: row;
    padding: 5vw;
    gap: 5vw;
 }

 #video {
    width: 42.5vw;
    height: auto;
 }

 .actors {
    background: url(images/pic21.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;  
    width: 100vw;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.donkeyimg {
    width: 42.5vw;
    height: auto;
}

.voiceactorsdiv {
    display: flex;
    width: auto;
    justify-content: center;
}

.imgs {
    padding: 3vw;
}

.texts {
    display: flex;
    height: auto;
    justify-content: space-around;
}

.texts p {
    font-family: MedievalSharp;
    src: url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sometype+Mono&display=swap");
    font-size: 3vw;
}


.navbar {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 30px;
    background: rgba(0, 0, 0, 0.3);
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: MedievalSharp;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

@font-face {
    font-family: MedievalSharp;
    src: url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sometype+Mono&display=swap");
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a:hover {
    font-weight: 900;
}

.navbar .selectedb {
    font-weight: 900;
}

h1 {
    color: white;
    font-family: MedievalSharp;
    font-size: 58px;
    text-align: center;
    line-height: 150%;
    font-style: normal;
}

div.relative {
    position: relative;
    bottom: 2px;
    border: 3px solid #73AD21;
}

.titleg {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-end;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px;
    padding-bottom: 0px;
    height: 100%;
}

.divider1 {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.desc {
    font-size: 20px;
    margin-bottom: 40px;
}

h2 {
    color: white;
    font-family: MedievalSharp;
    font-size: 40px;
    text-align: center;
    line-height: 150%;
    font-style: normal;
    font-weight: 100;
}
.changepage {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    align-items: normal;
}

.menub1 {
    display: none;
}

.title1 {
    font-size: 4vw;
    border-radius: 50px;
}

.logo1 {
    display: flex;
    margin-left: 60px;
    width: 30vw;
    height: auto;
}

.nav {
    display: flex;
    height: auto;
    position: fixed;
    width: 100vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav a {
    color: white;
    font-size:3vw;
}

.nav a:hover {
    font-weight: 900;
}

.nav .phonemenubutton {
    display: none;
}

.collapsablemenu {
    display: none;
}

.collapsablemenu a {
    display: none;
}

.selectedb {
    font-weight: 900;
}

.items {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: white;
    font-family: MedievalSharp;
    font-size: 40px;
    text-align: center;
    line-height: 150%;
    font-style: normal;
    font-weight: 100;
}

.changepage {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.changepage a {
    font-family: MedievalSharp;
    src: url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Sometype+Mono&display=swap");
    color: white;
    font-size: 50px;
}

h1 {
    color: white;
    font-family: MedievalSharp;
    font-size: 58px;
    text-align: center;
    line-height: 150%;
    font-style: normal;
}

div.relative {
    position: relative;
    bottom: 2px;
    border: 3px solid #73AD21;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px;
    padding-bottom: 0px;
    height: 100%;
}

.desc {
    font-size: 1rem;
}

.title2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.283);
    padding: 0px 20px 0px 20px;
}





































































































































































































































































































@media only screen and (max-width: 500px) {
    .navbar a {
        display: none;
    }
    .navbar {
        height: auto;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .icon1 {
        display: block;
        max-height: 5vw;
        max-width: 5vw;
    }

    .navbar a {
        display: none;
    }
    .title {
        padding: 20px;
    }
    .desc {
        font-size: 12px;
    }
    .navbar {
        height: auto;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
    }
    .menub1 {
        display: block;
        max-height: 5vw;
        max-width: 5vw;
        cursor: pointer;
    }

  }